@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|family=Gotu:100,200,300,400,500,600,700|family=Montserrat:100,200,300,400,500,600,700|family=Gochi Hand:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

/* ------------------------------------------------- */

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

/* ----------------------------------------------- Navigation bar --- */

nav .brand-logo{
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
    font-size: 1.8rem;
}

.brand-logo .fa-cookie-bite{
    margin-right: 5px;
    margin-left: 15px;
}

nav ul a{
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
    font-size: 1.3rem;
}

/* ----------------------------------------------- Homepage --- */

.home-img {
  height: calc(100vh - 64px);
  background: url(../images/cookbook.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opacity {
  background: rgba(0,0,0,0.4);
    width: -webkit-fill-available;
    height: calc(100vh - 64px);
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.caption h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    color: white;
}

hr {
  border: 1px solid white;
  max-width: 80%;
}

.caption h3 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 60px;
  word-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.btn-lg {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn-light {
  color: white;
  background-color: #ffa083;
  border-color: #ffa083;
  font-family: "Varela Round", sans-serif;

  transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light:hover {
  background-color:white;
  color: #ffa083;
  border: 1px solid white;
}

.social-links{
    position: absolute;
    right: 0px;
    width: 0px;
    margin-right: 60px;
    top: 29%;
    font-size: 20px;
    z-index: 1;
    }

.social-links a{
    color: white;
    text-align: center;
}

.social-links ul{
    margin-right: 0px;
}

.social-links li{
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background-color:white;
  color:  #ffa083;
  border: 1px solid white;
}


/* ----------------------------------------------- LOGIN/REGISTER--- */

h3 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-top: 10px;
  word-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

p .center .align .no-account{
    color: black;
}

.card-panel{
    border-radius: 25px;
}

.input-field #username,
div.input-field.col.s12 #password{
    font-family: 'Varela Round';
}

.flashes h4{
    background-color: white;
    color: crimson;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 0px;
}

.input-field.col .prefix ~ label{
    color: black;
    font-family: "Varela Round", sans-serif;
}

.btn-small{
    font-family: "Varela Round", sans-serif;
}

.deep-orange-text.text-darken-4{
    font-weight: 600;
}

p.center.align{
    margin-top: 0px;
}

.btn-small{
    margin: 0 auto;
    display: flex;
    border-radius: 23px;
    font-family: 'Varela Round';
    font-weight: 600;
    background-color: #ffa083;
    color: white;
}

.btn-small:hover{
    background-color: white;
    color: #ffa083;
}

/* ----------------------------------------------- PROFILE --- */

hr.underline{
    border: 1px solid #ffa083;
    max-width: 80%;
}

label.center-align{
    cursor: pointer;
}

.card .card-content .card-title{
    font-family: "Varela Round", sans-serif;
    color: #ffa083;
    font-size: 20px;
    text-transform: uppercase;
}

h5.recipe-description{
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

button.btn.btn-recipe.search,
a.btn.btn-recipe.reset,
a.btn.btn-recipe.modal-trigger.delete{
    background-color: #c62828;
    color: white;
    font-family: "Varela Round", sans-serif;
}

button.btn.btn-recipe.search,
a.btn.btn-recipe.reset:hover{
    background-color: white;
    color: #c62828;
    font-family: "Varela Round", sans-serif;
}

button.btn.btn-recipe.search,
a.btn.btn-recipe.edit{
    background-color: #4db6ac;
    color: white;
    font-family: "Varela Round", sans-serif;
}

button.btn.btn-recipe.search:hover,
a.btn.btn-recipe.edit:hover{
  background-color:white;
  color: #4db6ac;
  border: 1px solid white;
}

div.row.form-search{
    margin-top: 30px;
}

/* ----------------------------------------------- RECIPE --- */

.recipe{
    margin-top: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: initial;
}

div.col.s12.m3.l4{
    border: 2px solid #ffa083;
    border-radius: 5px;
    max-width: inherit;
    height: auto;
    margin-left: 30px;
    padding: 15px;
}

.recipe img{
    max-width: 100%;
    height: auto;
    border-radius: 3%;
}

.image-shadow{
    box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.2);
}

.btn-recipe{
    font-weight: bold;
    border-radius: 23px;
    width: 100px;
}

a.btn.btn-recipe.edit,
a.btn-recipe.btn-small.neutral.modal-close.ed{
    background-color: #4db6ac;
    color: white;
    display: inline-block;
}

a.btn.btn-recipe.modal-trigger.delete,
a.btn-recipe.btn-small.neutral.modal-close.del{
    color: white;
    background-color: #c62828;
    display: inline-block;
}

a.btn.btn-recipe.edit:hover,
a.btn-recipe.btn-small.neutral.modal-close.ed:hover{
  background-color:white;
  color: #4db6ac;
  border: 1px solid white;
  display: inline-block;
}

a.btn.btn-recipe.modal-trigger.delete:hover,
a.btn-recipe.btn-small.neutral.modal-close:hover{
  background-color:white;
  color: #c62828;
  border: 1px solid white;
  display: inline-block;
}

div#delete-recipe.modal.open{
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    padding: 20px;
}

i.fas.fa-exclamation-circle{
    font-size: 50px;
    margin-top: 15px;
}

/* ----------------------------------------------- ADD RECIPE --- */

div.row.card-panel{
    max-width: 80%;
    margin: 0 auto;
    font-family: "Varela Round", sans-serif;
}

i.fas.fa-shopping-basket.prefix.deep-orange-text.text-lighten-3,
i.fas.fa-mitten.prefix.deep-orange-text.text-lighten-3,
i.fas.fa-mortar-pestle.prefix.deep-orange-text.text-lighten-3{
    font-size: 2rem;
    margin-bottom: -10px;
}

button#add_ingredient.white.deep-orange-text.text-lighten-3,
button#add_method.white.deep-orange-text.text-lighten-3,
button#add_tool.white.deep-orange-text.text-lighten-3,
button#del_ingredient.white.deep-orange-text.text-lighten-3,
button#del_method.white.deep-orange-text.text-lighten-3,
button#del_tool.white.deep-orange-text.text-lighten-3{
    border: 2px solid #ffccbc;
    cursor: pointer;
    margin-right: 5px;
}

.select-wrapper input.select-dropdown,
.dropdown-content li{
    font-family: "Varela Round", sans-serif;
}

button.btn-large.add-recipe{
    background-color: #4db6ac;
    color: white;
    border-radius: 25px;
}

button.btn-large.add-recipe:hover{
    background-color:white;
    color: #4db6ac;
    border: 1px solid white;
}

h4.red-text.text-darken-4.center-align{
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    padding: 20px;
}


/* ----------------------------------------------- EDIT RECIPE --- */

a.btn.modal-trigger.btn-cancel-recipe{
    color: white;
    background-color: #c62828;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    border-radius: 23px;
}

a.btn.modal-trigger.btn-cancel-recipe:hover{
  background-color:white;
  color: #c62828;
  border: 1px solid white;
}

button.btn.btn-edit-recipe{
    color: white;
    background-color: #4db6ac;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    border-radius: 23px;
}

button.btn.btn-edit-recipe:hover{
    background-color:white;
    color: #4db6ac;
    border: 1px solid white;
}


/* ----------------------------------------------- TOOL --- */

img.image-shadow.tool-image{
    height: 440px;
    max-width: 100%;
    object-fit: cover;
    object-position: right;
    margin-bottom: 40px;
}