@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|family=Gotu:100,200,300,400,500,600,700|family=Montserrat:100,200,300,400,500,600,700|family=Gochi Hand:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

/* ------------------------------------------------- */

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4{
    line-height: 2;
    text-transform: uppercase;
}

.btn-small{
    margin: 5px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

.btn{
    background-color: transparent;
}

/* ----------------------------------------------- Navigation bar --- */

nav .brand-logo,
a.brand-logo.center-align.deep-orange-text.text-lighten-2{
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
    font-size: 1.8rem;
}

.brand-logo .fa-cookie-bite{
    margin-right: 5px;
    margin-left: 15px;
}

nav ul a{
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.sidenav li>a{
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
}

.sidenav li>a:hover{
    background-color:white;
    color: #ffa083;
    border: 1px solid white;
}

/* ----------------------------------------------- Homepage --- */

.home-img {
  height: calc(100vh - 64px);
  background: url(../images/cookbook.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opacity {
  background: rgba(0,0,0,0.4);
    width: -webkit-fill-available;
    height: calc(100vh - 64px);
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.caption h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    color: white;
}

hr {
  border: 1px solid white;
  max-width: 80%;
}

.caption h3 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 60px;
  word-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.btn-lg {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn-light {
  color: white;
  background-color: #ffa083;
  border-color: #ffa083;
  font-family: "Varela Round", sans-serif;

  transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light:hover {
  background-color:white;
  color: #ffa083;
  border: 1px solid white;
}

.footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    padding: 0px;
    left: 0;
    right: 0;
}

ul.list-inline{
    display: -webkit-inline-box;
    font-size: 17px;
}

ul.list-inline li i{
    margin-right: 20px;
}

ul.list-inline li a{
    color: white;
}

ul.list-inline li a:hover{
    color: #ffa083;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}


/* ----------------------------------------------- LOGIN/REGISTER--- */

h3 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-top: 10px;
  word-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

p .center .align .no-account{
    color: black;
}

.card-panel{
    border-radius: 25px;
}

.input-field #username,
div.input-field.col.s12 #password{
    font-family: 'Varela Round';
}

.flashes h4{
    background-color: white;
    color: crimson;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 0px;
}

.input-field.col .prefix ~ label{
    color: black;
    font-family: "Varela Round", sans-serif;
}

.deep-orange-text.text-darken-4{
    font-weight: 600;
}

p.center.align{
    margin-top: 0px;
}

button.btn-small{
    background-color: #ffa083;
    color: white;
    margin: 0 auto;
    display: flex;
    border-radius: 23px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
}

button.btn-small:hover{
    background-color: white;
    color: #ffa083;
}

/* ----------------------------------------------- PROFILE --- */

hr.underline{
    border: 1px solid #ffa083;
    max-width: 80%;
}

label.center-align{
    cursor: pointer;
}

.card .card-content .card-title{
    font-family: "Varela Round", sans-serif;
    color: #ffa083;
    font-size: 20px;
    text-transform: uppercase;
}

h5.recipe-description{
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

button.btn.btn-recipe.search,
a.btn.btn-recipe.reset,
a.btn.btn-recipe.modal-trigger.delete{
    color: #c62828;
    font-family: "Varela Round", sans-serif;
}

button.btn.btn-recipe.search,
a.btn.btn-recipe.reset:hover{
    background-color: white;
    color: #c62828;
    font-family: "Varela Round", sans-serif;
}

button.btn.btn-recipe.search,
a.btn.btn-recipe.edit,
button.btn.btn-recipe.edit{
    border: 1px solid #4db6ac;
    color: #4db6ac;
    font-family: "Varela Round", sans-serif;
}

button.btn.btn-recipe.search:hover,
a.btn.btn-recipe.edit:hover,
button.btn.btn-recipe.edit:hover{
  color: #4db6ac;
  background-color: white;
  border: 1px solid white;
}

div.row.form-search{
    margin-top: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* ----------------------------------------------- RECIPE --- */

.recipe{
    margin-top: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: initial;
}

div.col.s12.m3.l4{
    border: 2px solid #ffa083;
    border-radius: 5px;
    max-width: inherit;
    height: auto;
    margin-left: 30px;
    padding: 15px;
}

a.check-tools{
    color: #ffa083;
}

.recipe img{
    max-width: 100%;
    height: auto;
    border-radius: 3%;
}

.image-shadow{
    box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.2);
}

.btn-recipe{
    font-weight: bold;
    border-radius: 23px;
    width: 100px;
    font-family: "Varela Round", sans-serif;
}

a.btn.btn-recipe.edit,
a.btn-recipe.btn-small.neutral.modal-close.ed{
    border: 1px solid #4db6ac;
    display: inline-block;
}

a.btn.btn-recipe.edit:hover,
a.btn-recipe.btn-small.neutral.modal-close.ed:hover{
  background-color:white;
  color:#4db6ac;
  display: inline-block;
}

a.btn.btn-recipe.modal-trigger.delete,
a.btn-recipe.btn-small.neutral.modal-close.del{
    border-color: 1px solid #c62828;
    background-color: white;
    color: #c62828;
    display: inline-block;
}


a.btn.btn-recipe.modal-trigger.delete:hover,
a.btn-recipe.btn-small.neutral.modal-close.del:hover{
  border: 1px solid #c62828;
  background-color: white;
  color: #c62828;
  display: inline-block;
}

div#delete-recipe.modal.open{
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    padding: 20px;
}

i.fas.fa-exclamation-circle{
    font-size: 50px;
    margin-top: 15px;
}

/* ----------------------------------------------- ADD RECIPE --- */

div.row.card-panel{
    max-width: 80%;
    margin: 0 auto;
    font-family: "Varela Round", sans-serif;
    margin-top: 50px;
}

i.fas.fa-shopping-basket.prefix.deep-orange-text.text-lighten-3,
i.fas.fa-mitten.prefix.deep-orange-text.text-lighten-3,
i.fas.fa-mortar-pestle.prefix.deep-orange-text.text-lighten-3{
    font-size: 2rem;
    margin-bottom: -10px;
}

.select-wrapper input.select-dropdown,
.dropdown-content li{
    font-family: "Varela Round", sans-serif;
}

button.btn.add-recipe{
    background-color: #4db6ac;
    color: white;
    border-radius: 25px;
    font-family: "Varela Round", sans-serif;
    margin-right: 5px;
    width: fit-content;
    font-size: 15px;
}

button.btn.add-recipe:hover{
    background-color:white;
    color: #4db6ac;
    border: 1px solid white;
}

h4.red-text.text-darken-4.center-align{
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    padding: 20px;
}


/* ----------------------------------------------- EDIT RECIPE --- */

a.btn.modal-trigger.btn-cancel-recipe{
    color: #c62828;
    border: 1px solid #c62828;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    border-radius: 23px;
}

a.btn.modal-trigger.btn-cancel-recipe:hover{
  background-color:white;
  color: #c62828;
  border: 1px solid white;
}

button.btn.btn-edit-recipe{
    color: white;
    background-color: #4db6ac;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    border-radius: 23px;
}

button.btn.btn-edit-recipe:hover{
    background-color:white;
    color: #4db6ac;
    border: 1px solid white;
}


/* ----------------------------------------------- TOOL --- */

img.image-shadow.tool-image{
    height: 440px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}

/* ----------------------------------------------- CATEGORIES --- */

a.btn-large.add-recipe{
    background-color: transparent;
    border: 1px solid #4db6ac;
    color: #4db6ac;
    border-radius: 25px;
 
}

a.btn-large.add-recipe:hover{
    background-color:white;
    color: #4db6ac;
    border: none;
}


/* ----------------------------------------------- Recipes --- */

.total-results{
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}


/* ----------------------------------------------------- Media Queries --- */

/* --------- Small Screens --- */
@media (max-width: 640px){
    .brand-logo .fa-cookie-bite{
        margin-top: 12px;
    }

    nav .brand-logo,
    a.brand-logo.center-align.deep-orange-text.text-lighten-2{
        width: fit-content;
    }
    
    .home-img,
    .opacity{
        height: calc(100vh - 7px);
    }

    .caption h1{
        font-size: 35px;
        margin-top: 10px;
    }

    .caption h3{
        font-size: 20px;
    }

    .sidenav li a{
        font-size: 20px;
    }

    button.btn.btn-recipe.search,
    a.btn.btn-recipe.reset{
        font-size: 10px;
        width: 70%;
        margin-bottom: 10px;
    }

    .card .card-content .card-title{
        font-size: 30px;
    }

    h5.recipe-description{
        font-size: 20px;
    }

    .recipe-details{
        margin-top: 40px;
    }

    div.row.card-panel{
        max-width: 90%;
    }

    button.btn.add-recipe{
        margin-bottom: 10px;
    }

    img.image-shadow.tool-image{
        height: 350px;
    }

    .flashes h4{
        font-size: 15px;
    }
}

/* --------- Medium Screens --- */
@media (min-width: 720px) and (max-width: 1024px){
    .btn-lg{
        font-size: 20px;
        width: 180px;
    }

    a.brand-logo{
        font-size: 30px;
    }

    .caption h1{
        font-size: 60px;
    }

    a.brand-logo.center-align.deep-orange-text.text-lighten-2{
        font-size: 40px;
    }

    h4{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .sidenav li a{
        font-size: 30px;
        margin-bottom: 10px;
    }

    form.col.s12.m10.l8.offset-m1.offset-l2{
        margin-top: 50px;
    }

    label.active,
    label.label{
        font-size: 25px;
    }

    .input-field #username,
    .input-field #password,
    .input-field #email{
        height: 60px;
        margin-top: 15px;
    }

    i.fas.fa-user.prefix,
    i.fas.fa-key.prefix,
    i.far.fa-user.prefix,
    i.fas.fa-at.prefix{
        font-size: 40px;
        margin-top: 15px;
    }
    
    button.btn-small{
        font-size: 20px;
        line-height: 35px;
    }

    p.center.align.no-account,
    p.center.align{
        font-size: 20px;
    }

    i.fas.fa-book-open{
        font-size: 2.5rem;
        padding-right: 10px;
    }

    label.search-bar{
        font-size: 20px;
    }

    div.col.s12.m12.l12.total-results{
        font-size: 25px;
    }

    .card .card-content .card-title{
        font-size: 30px;
    }

    h5.recipe-description{
        font-size: 25px;
    }

    .btn-recipe{
        width: 120px;
        font-size: 18px;
    }

    div.recipe-details{
        margin-top: 50px;
        font-size: 20px;
    }

    div.col.s12.m12{
        font-size: 20px;
    }

    div.row.card-panel{
        max-width: 90%;
    }

    a.btn-large.add-recipe{
        font-size: 20px;
        margin: 20px;
    }
}