{% extends "base.html" %}
{% block content %}

    <h3 class="black-text center-align">Add Recipe
        <hr class="underline s8 m8 l8">
    </h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- Recipe Category Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-folder-open prefix deep-orange-text text-lighten-3"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose a Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- Recipe Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix deep-orange-text text-lighten-3"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix deep-orange-text text-lighten-3"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="35" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Description</label>
                </div>
            </div>
            <!-- Recipe Ingredients -->
            <div class="row">
                <i class="fas fa-shopping-basket prefix deep-orange-text text-lighten-3 input-field col s12"></i>
                <div class="input-field col s12">
                    <div id="ingredients_list"><input type="text" id="recipe_ingredients"
                        name="recipe_ingredients[]" minlength="5" class="validate" placeholder="ingredients" required></div>
                    <button id="add_ingredient" name="add_ingredient" class="white deep-orange-text text-lighten-3">
                        +
                    </button>
                    <button id="del_ingredient" name="del_ingredient" class="white deep-orange-text text-lighten-3">
                        -
                    </button>
                    <label for="recipe_ingredients"></label>
                </div>
            </div>
            <!-- Recipe Method -->
            <div class="row">
                <i class="fas fa-mitten prefix deep-orange-text text-lighten-3 input-field col s12"></i>
                <div class="input-field col s12">
                    <div id="method_list"><input id="recipe_method" name="recipe_method[]" minlength="5"
                       class="validate" placeholder="cooking method" required></div>
                    <button id="add_method" name="add_method" class="white deep-orange-text text-lighten-3">
                        +
                    </button>
                    <button id="del_method" name="del_method" class="white deep-orange-text text-lighten-3">
                        -
                    </button>
                    <label for="recipe_method"></label>
                </div>
            </div>
            <!-- Recipe Tools -->
            <div class="row">
                <i class="fas fa-mortar-pestle prefix deep-orange-text text-lighten-3 input-field col s12"></i>
                <div class="input-field col s12">
                    <div id="tool_list"><input id="recipe_tools" name="recipe_tools[]" minlength="5"
                        class="validate" placeholder="cooking tools"></div>
                    <button id="add_tool" name="add_tool" class="white deep-orange-text text-lighten-3">
                        +
                    </button>
                    <button id="del_tool" name="del_tool" class="white deep-orange-text text-lighten-3">
                        -
                    </button>
                    <label for="recipe_tools"></label>
                </div>
            </div>
            <!-- Preparation Time -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="far fa-clock prefix deep-orange-text text-lighten-3"></i>
                    <input type="time" id="time" name="time" class="form-control validate" required>
                    <label for="time">Preparation Time (HH:MM)</label>
                </div>
                <!-- Dificulty -->
                <div class="input-field col s6">
                    <i class="fas fa-balance-scale-left prefix deep-orange-text text-lighten-3"></i>
                    <select id="difficulty" name="difficulty" class="validate" required>
                        <option value="" disabled selected>Dificulty</option>
                        {% for difficulty in difficulties %}
                            <option value="{{ difficulty.level }}">{{ difficulty.level }}</option>
                        {% endfor %}
                    </select>
                    <label for="difficulty"></label>
                </div>
            </div>
            <!-- Submit Recipe Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large add-recipe">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
