{% extends "base.html" %}
{% block content %}

    <h3 class="light-green-text text-darken-4 center-align">Categories</h3>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card center-align">
                    <div class="card-image">
                        <img src="static/images/soups.jpg" alt="this is a soup">
                    </div>
                    <div class="card-content card-action">
                        <a href=""><span class="card-title">{{ category.category_name }}</span></a>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn orange lighten-4">Edit</a>
                        <a href="#" class="btn">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
