{% extends "base.html" %}
{% block content %}

    <!-- User Profile Name -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
            <h3 class="center-align black-text">
                {{ username }}'s Profile
            </h3>
            </div>
        </div>
    </div>
    <!----------------------------------->

    <!-- My Recipes Title -->
    <h3 class="black-text center-align">
        My Recipes
        
    </h3>
    <hr class="underline">
    <!----------------------------------->

    <!-- User Recipes -->
    <div class="row center-align">
        {% for recipe in recipes %}
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{{url_for('static', filename='images/soups.jpg')}}" alt="{{ recipe.recipe_name }}">
                </div>
                <div class="card-content">
                    <a href="{{url_for('recipe', recipe_id=recipe._id)}}"><span class="card-title">{{ recipe.recipe_name }}</span></a>
                    {% if recipe.favorite == "on" %}
                        <i class="fas fa-heart light-green-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="I love it!"></i>
                    {% endif %}
                <div>
                    <h5>{{ recipe.recipe_description }}</h5>
                </div>
                </div>
                <div class="card-action">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-light">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-light">Delete</a>
                </div>   
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
