{% extends "base.html" %} {% block content %}

<h3 class="center-align">{{ recipe.recipe_name }}</h3>

<div class="row container recipe">
    <div class="col s12 m8 l6">
        <img src="{{url_for('static', filename='images/parsnip.jpg')}}" alt="{{ recipe.recipe_name }}" class="image-shadow">
    </div>
    <div class="row container">
        <div class="col s12 m3 l4">
            <div>
                <b>Category:</b> {{ recipe.category_name }}
            </div>
            <br />
            <div>
                <b>Tools:</b> {{ recipe.recipe_tools }}
            </div>
            <br />
            <div>
                <b>Date:</b> {{ recipe.date }}
            </div>
            <br />
            <div>
                <b>Created by:</b> <em>{{ recipe.created_by }}</em>
            </div>
            <br />
        </div>
    </div>

    <!-- Recipe Fields -->
    <div class="col s12 m12">
        <br />
        <div>
            <b>Ingredients:</b> {{ recipe.recipe_ingredients }}
        </div>
        <br />
        <div>
           <b>Method:</b> {{ recipe.recipe_method }}
        </div>
        <br />

        <!-- Buttons -->

        <!-- Return Button -->
        <div class="col s12 center-align">
            <div class="col s4"><a href="{{ url_for('profile', username=session['user']) }}"
                class="btn btn-light btn-recipe">Recipes</a></div>
            {% if session.user|lower == recipe.created_by|lower %}
                <!-- Edit Button -->
                <div class="col s4"><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
                    class="btn btn-recipe edit">Edit</a></div>
                <!-- Delete Button -->
                <div class="col s4"><a href="#delete-recipe"
                    class="btn btn-recipe modal-trigger delete">Delete</a></div>

                <!-- Modal Action -->
                <div id="delete-recipe" class="modal">
                    <div>
                        <div>
                            <i class="fas fa-exclamation-circle red-text text-darken-3"></i>
                            <p>
                                Are you sure you want to delete this recipe?
                            </p>
                        </div>
                        <div>
                            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
                                class="btn-recipe btn-small neutral modal-close del">Delete</a>
                            <a class="btn-recipe btn-small neutral modal-close ed">Cancel</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}