{% extends "base.html" %}
{% block content %}

    <h3 class="light-green-text text-darken-4 center-align">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text light-green darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.date }}
                {% if recipe.favorite == "on" %}
                    <i class="fas fa-heart light-green-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="I love it!"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
