{% extends "base.html" %} {% block content %}

<h3 class="center-align">{{ recipe.recipe_name }}</h3>

<div class="row container recipe">
    <div class="col s12 m8">
        <img src="{{url_for('static', filename='images/soups.jpg')}}" alt="{{ recipe.recipe_name }}">
    </div>
<div class="row container">
    <div class="col s12 m4 l4">
        <div>
            <b>Category:</b> {{ recipe.category_name }}
        </div>
        <br />
        <div>
            <b>Tools:</b> {{ recipe.recipe_tools }}
        </div>
        <br />
        <div>
            <b>Date:</b> {{ recipe.date }}
        </div>
        <br />
        <div>
            <b>Created by:</b> <em>{{ recipe.created_by }}</em>
        </div>
        <br />
    </div>
</div>

    <!-- Recipe Fields -->
    <div class="col s12 m12">
        <div>
            <b>Ingredients:</b> {{ recipe.recipe_ingredients }}
        </div>
        <br />
        <div>
           <b>Method:</b> {{ recipe.recipe_method }}
        </div>
        <br />

        <!-- Buttons -->

        <!-- Return Button -->
        <div class="col s12 center-align">
            <div class="col s4"><a href="{{ url_for('profile', username=session['user']) }}"
                class="btn btn-light btn-recipe">Recipes</a></div>
            {% if session.user|lower == recipe.created_by|lower %}
                <!-- Edit Button -->
                <div class="col s4"><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" id="edit"
                    class="btn btn-recipe">Edit</a></div>
                <!-- Delete Button -->
                <div class="col s4"><a href="#delete-this" id="delete" class="btn btn-recipe">Delete</a></div>

                <div id="delete-this" class="modal">
                    <div>
                        <div>
                            <p>
                                Are you sure you want to delete this recipe?
                            </p>
                        </div>
                        <div>
                            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
                                class="btn-small neutral red modal-close">Delete</a>
                            <a class="btn-small neutral blue modal-close">Cancel</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}